run = "npm run deploy"
entrypoint = "server/index.js"

[nix]
channel = "stable-23_11"

[env]
NODE_ENV = "production"

[deployment]
run = ["sh", "-c", "npm run deploy"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3001
externalPort = 80
